@model BooksOnLoan.Models.Transaction

@{
    ViewData["Title"] = "Edit";

    ViewDataDictionary<Transaction> viewData = ViewData;
    var metadata = viewData.ModelMetadata;
    string loanHoldDateDisplayName = metadata.Properties[nameof(Transaction.HoldDate)]!.DisplayName ?? "Hold Date";   
    string loanStartDateDisplayName = metadata.Properties[nameof(Transaction.LoanStartDate)]!.DisplayName ?? "Loan Start";    
    string loanDueDateDisplayName = metadata.Properties[nameof(Transaction.LoanDueDate)]!.DisplayName ?? "Loan Due";      
    string loanReturnDateDisplayName = metadata.Properties[nameof(Transaction.ReturnDate)]!.DisplayName ?? "Return Date";       

    var holdDateValue = Model.HoldDate.ToString("MM-dd-yyyy");
    var loanStartDateValue = Model.LoanStartDate != null ? Model.LoanStartDate?.ToString("MM-dd-yyyy") : "";
    var loanDueDateValue = Model.LoanDueDate != null ? Model.LoanDueDate?.ToString("MM-dd-yyyy") : "";
    var loanReturnDateValue = Model.ReturnDate != null ? Model.ReturnDate?.ToString("MM-dd-yyyy") : "";


}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionId" />
            <div class="form-group">
                <label asp-for="BookCodeNumber" class="control-label"></label>
                <select asp-for="BookCodeNumber" class="form-control" asp-items="ViewBag.BookCodeNumber"></select>
                <span asp-validation-for="BookCodeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*
                <label asp-for="HoldDate" class="control-label"></label>
                <input asp-for="HoldDate" class="form-control" />
                *@
                <component type="typeof(DatePicker)" render-mode="ServerPrerendered" 
                    param-Label="@loanHoldDateDisplayName" 
                    param-FieldName="@Convert.ToString("HoldDate")" 
                    param-Value="@holdDateValue" />
                <span asp-validation-for="HoldDate" class="text-danger"></span> 

            </div>
            <div class="form-group">
                @*
                <label asp-for="LoanStartDate" class="control-label"></label>
                <input asp-for="LoanStartDate" class="form-control" />
                *@
                <component type="typeof(DatePicker)" render-mode="ServerPrerendered" 
                    param-Label=@Convert.ToString("Loan Start")
                    param-FieldName="@Convert.ToString("LoanStartDate")" 
                    param-Value="@loanStartDateValue" />

                <span asp-validation-for="LoanStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*
                <label asp-for="LoanDueDate" class="control-label"></label>
                <input asp-for="LoanDueDate" class="form-control" />
                *@
                
                <component type="typeof(DatePicker)" render-mode="ServerPrerendered" 
                    param-Label="@loanDueDateDisplayName" 
                    param-FieldName="@Convert.ToString("LoanDueDate")" 
                    param-Value="@loanDueDateValue" />

                <span asp-validation-for="LoanDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                *@

                <component type="typeof(DatePicker)" render-mode="ServerPrerendered" 
                    param-Label=@loanReturnDateDisplayName
                    param-FieldName="@Convert.ToString("LoanReturnDate")" 
                    param-Value="@loanDueDateValue" />

                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
